{% extends 'User/User.html.twig' %}
{% block bodyakhel %}
    <div class="tg-banner tg-haslayout">
        <div class="tg-imglayer">
            <img src="{{asset('images/bg-pattran.png')}}" alt="image desctription">
        </div>
        <div class="container">
            <div class="row">
                <div class="tg-banner-content tg-haslayout">
                    <div class="tg-pagetitle">
                        <h1>la Liste DES Membres</h1>
                    </div>
                    <ol class="tg-breadcrumb">

                        <li class="active">la Liste DES Membres</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ idf }}
{% endblock %}